.page {
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(135deg, #f8c291, #e55039);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #e55039;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
}

.button:hover {
  background-color: #e55039;
  color: white;
}

.categories {
  text-align: center;
}

.categories h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.categories ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.categoryItem {
  background-color: #ffbe76;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s;
}

.categoryItem:hover {
  background-color: #e55039;
  color: white;
}
